body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.first-text {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 17, 17);
    font-size: 3rem;
    padding: 1.5rem;
}